<?xml version="1.0" encoding="utf-8" ?>
  <configuration>
    <appSettings>
      <add key="timerInterval" value="180000"/>
      <add key="dbConnection" value="Data Source=FURYAEV;Initial Catalog=mits_deploymentlogger_master_beta;User ID=mits_deployment_beta_548612;password=5712482mdl"/>
      <add key="ServerID" value="2"/>
    </appSettings>
  </configuration>