.report_body
{
	background-color: #E0F4FE;
	color: #000;
	font-family: Verdana, Arial;
	font-size: 70%;
	margin-left:20px;
}

.project_name
{
	font-weight: bold;
	font-size: 100%;
	display: inline;
}

.log_entry_section
{
    font-size:larger;
}

.log_entry_name
{
    font-size:large;
}

.log_entry_description
{
    font-size:medium;
}

.report_header
{
    font-size:larger;
    font-style:normal;
    letter-spacing: 1px;    
}

img
{
	border: 0;
}

hr
{
	color: #808080;
	height: 1px;
	border: 0;
	background-color: #808080;
}

.footer
{
	border-top: solid 1px #808080;
	padding: 7px 0 7px 0;
	background-image: url(images/background_footer.jpg);
	background-repeat: repeat-x;
	color: Black;
	text-align: center;
}